<%- include('./../../partials/head.ejs')%>

<div class="container my-container">
    <div class="jumbotron">
        <h1 class="lorem">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi excepturi beatae odio voluptate molestiae rerum placeat vitae cupiditate iste incidunt vero perspiciatis ea error atque modi assumenda, exercitationem suscipit harum?
        </h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam itaque, iure alias veritatis perferendis, aut voluptatem ad velit ut voluptas quia ducimus impedit! Iusto consequuntur animi quidem mollitia nesciunt repellendus.</p>
    </div>
</div>


<%- include('./../../partials/footer.ejs')%>


</body>
</html>
